html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

label {
  font-weight: bolder;
}
textarea {
}
input, textarea {
  color: currentcolor;
  padding: 4px 0px 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #e1e1e1;
  background: none;
  margin: 0px;
  display: block;
  min-width: 0px;
  width: 100%;
}
input:focus {
  outline: none;
  border-bottom: 1px solid blue;
}
